.checked-theme-container {
  display: flex;
  position: relative;
  width:100%;
}
.checked-theme-button {
  width: 100%;
  height: 80px;
  display: flex;
  font-size: 1.1em;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unitandahalfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unitandahalfunit);
  justify-content: flex-start;
  background-color: transparent;
}
.checked-theme-button:focus {
  border-width: 10px;
  padding-left: var(--dl-space-space-unit);
  border-top-width: 0px;
  border-left-width: 10px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  outline: 0;
  box-shadow: 0 0 10px 0 #acc6e8;
  border-color: #334283;
}
.checked-theme-button:hover {
  background-color: var(--dl-color-gray-800);
}
.checked-theme-button:active {
  background-color: var(--dl-color-gray-700);

}

.checked-theme-icon {
  width: 30px;
  height: 100%;
  margin-right: var(--dl-space-space-unit);
  fill: rgb(70, 83, 138);
}
.checked-theme-text {
  fill: var(--dl-color-secondary-500);
  color: var(--dl-color-secondary-500);
  width: 100%;
  font-size: 0.9em;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.4;
}
