.card-info {
    flex: 0 0 auto;
    width: 25%;
    display: flex;
    margin-top: var(--dl-space-space-triplequarterunit);
    align-items: center;
    padding-left: var(--dl-space-space-triplequarterunit);
    padding-right: var(--dl-space-space-triplequarterunit);
    flex-direction: column;
  }
  .icon {
    fill: var(--dl-color-secondary-300);
    height: 35px;
    object-fit: cover;
    margin-bottom: var(--dl-space-space-unitandahalfunit);
  }
  .text07 {
    color: var(--dl-color-secondary-600);
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text08 {
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }

  .HeadingThree {
    font-size: 1.25rem;
    font-family: Open Sans;
    font-weight: 600;
    line-height: 1.375;
    text-transform: none;
    text-decoration: none;
  }

  @media(max-width: 767px) {
    .card-info {
      width: 50%;
    }
}

@media(max-width: 479px) {
    .card-info {
      width: 100%;
    }
}