.register-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dl-color-gray-900);
}
.register-form {
    width: 100%;
    display: flex;
}
.register-container1 {
    flex: 0 0 auto;
    width: 45%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    background-image: url('https://i.pinimg.com/564x/3c/bf/fd/3cbffdfa98e53cd7d3ce774775f8d1c8.jpg');
}
h1{
    text-align: center;
    line-height: 1.3;
    width: 85%;
    margin-bottom: 0.4em;
    color: #495CB8;
}
@media(max-width: 479px) {
    .register-container1 {
        display: none;
    }
}
