.not-checked-theme-container {
  display: flex;
  position: relative;
  width: 100%;
}
.not-checked-theme-not-checked-theme {
  width: 100%;
  height: 80px;
  display: flex;
  font-size: 1.1em;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unitandahalfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unitandahalfunit);
  justify-content: flex-start;
  background-color: transparent;

}
.not-checked-theme-not-checked-theme:focus {
  border-color: #67748E;
  border-width: 10px;
  padding-left: var(--dl-space-space-unit);
  border-top-width: 0px;
  border-left-width: 10px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.not-checked-theme-not-checked-theme:hover {
  background-color: var(--dl-color-gray-800);
}
.not-checked-theme-not-checked-theme:active {
  background-color: var(--dl-color-gray-700);
}
.not-checked-theme-icon {
  width: 28px;
  height: 100%;
  margin-right: var(--dl-space-space-unit);
  fill:  rgb(64, 84, 183);
}
.not-checked-theme-text {
  fill: var(--dl-color-secondary-500);
  color: var(--dl-color-secondary-500);
  width: 100%;
  font-size: 0.9em;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.4;
}
