.register-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 80vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: space-between;
    background-image: url('https://i.pinimg.com/564x/d8/76/e9/d876e9115ee7c47677543e9ac3033dc5.jpg');
    background-repeat: round;
    background-position: top;
  }
  .thq-flex-column {
    overflow: visible;
  }
  .thq-flex-row {
    overflow: visible;
  }
  .register-form {
    width: 100%;
    height: auto;
    display: flex;
  }
  .register-contact1 {
    display: flex;
    position: relative;
    align-items: stretch;
    padding-top: 3em;
    flex-direction: row;
    padding-bottom: 0px;
    justify-content: center;
  }
  