.component3-container {
    display: flex;
    position: relative;
  }
  .component3-button {
    color: var(--dl-color-gray-white);
    width: 100%;
    outline: none;
    font-size: 0.75rem;
    font-style: normal;
    transition: all .15s ease-in;
    font-family: "Open Sans";
    font-weight: 700;
    line-height: 1.4;
    padding-top: var(--dl-space-space-triplequarterunit);
    border-color: var(--dl-color-secondary-200);
    padding-left: var(--dl-space-space-unitandahalfunit);
    border-radius: 1.875rem;
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: var(--dl-space-space-triplequarterunit);
    text-transform: uppercase;
    background-image: linear-gradient(310deg, rgb(64, 84, 183), rgb(128, 143, 191));
  }
  .component3-root-class-name {
    width: 100%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .component3-root-class-name1 {
    width: 100%;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .component3-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}